<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a class="nav-link active" href="javascript://" (click)="login()">Entrar</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="javascript://" (click)="logout()">Salir</a>
        </li>
      </ul>
    </nav>
    <h3 class="text-muted">{{title}}</h3>
  </div>

  <sebm-google-map [latitude]="lat" [longitude]="lng">
    <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
  </sebm-google-map>

  <router-outlet></router-outlet>
  <hr>
  <footer class="footer text-center">
    <p>&copy; El Rico Dato 2017</p>
  </footer>

</div>