
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <h1> 
        {{title}}
      </h1>
    </div>
    <div *ngIf="isLoggedIn" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="btn" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<sebm-google-map [latitude]="lat" [longitude]="lng">
  <sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>
</sebm-google-map>

<div class="app-content">
  <router-outlet></router-outlet>
</div>